/* search input */
.inputContainer{
    display: inline-flex;
    flex:1 1 auto;   /*flex-grow,flex-shrink,flex-basis*/
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.icon{
    padding: 0.8rem;
}

.searchBox{
    border: 0;
    flex: 1;
}

.searchButton{
    color: white;
    background: #0f4a8a;
    border: 0;
    padding: 0.8rem;
    border-radius: 8px;
}

/* Navigation bar */ 
.navContainer{
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;

}
.navContainer li{
    list-style-type: none;
}
.navContainer a{
    display: inline-block;
    padding: 25px; 
    margin: 0 25px;
    text-align: center;
    text-decoration: none;
    color: #ffffff; 
}
.navContainer a:hover{
    background-color: lightsteelblue;
}

